/*--------------------------------------------------------------
## 1. All Color Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --black-color: #010f34;
  --heading-color: #01133c;
  --body-color: #666666;
  --ternary-color: #88a5ad;
  --accent-color: #24ab24ff;
  --gray-color: #f5f7fa;
  --gray2-color: #e8ebee;
  --border-color: #ecf1f5;
  --heading-font: 'Archivo', sans-serif;
  --body-font: 'Roboto', sans-serif;
}
